:root 
{ 
  --nav-height-fallback: 120px; 
}


.menu-container 
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 18px;
  padding: 130px 40px;
}

.menu-item 
{
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
  padding: 15px;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-item:hover 
{
  transform: translateY(-4px);
}

.menu-item img 
{
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
}

.menu-item-info
{
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
}

.menu-item-name
{
  order: 1;
  margin: 0;
  font-size: 20px;
  color: #000;
}

.menu-item-price
{
  order: 2;
  margin: 0;
  font-weight: bold; 
  color: #821c1c; 
}

.add-to-cart 
{
  background: #821c1c;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
/*Change color slightly read on hover*/
.add-to-cart:hover 
{
  background: #a22a2a;
}
